<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<p><% article.comments.forEach(comment => { %>
  <%= comment.name %>
  <br>
  <%= comment.content %>
<% }); %>


<hr />

<a href="/">&larr; Back Home</a>
